In [ ]:
name = "John"
print("My name is " + name)

My name is John

In [ ]:
fruits = ["apple","banana","orange"]
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
person = {"Name":"John","Age":19,"City":"Los Angeles"}
print(person)

{'Name': 'John', 'Age': 19, 'City': 'Los Angeles'}

In [ ]:
numbers = (1,20,19)
print(numbers)

(1, 20, 19)